@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&family=Raleway:wght@300;600&display=swap');

body {
    scroll-behavior: smooth;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    --default-text-color: black;
    --inverted-default-text-color: white;
    --key-texts-color: #2e7d32;
    --stylized-font-family: 'PT Sans', sans-serif;
}

.navbar-container {
    background: white;
    height: 90px;
    width: 100%;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F2CF43;
    position: fixed;
    display: block;
    z-index: 5;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 0 50px;
    z-index: 5;
}

.profile-photo {
    position: absolute;
    width: 20vh;
    height: auto;
    border-style: solid;
    border-radius: 130px;
    border-width: 2px;
    border-color: #4CAF50;
}

.stylish-separator {
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #4CAF50;
    position: absolute;
    margin-left: 150px;
}

.logo {
    margin-left: 170px;
    font-family: var(--stylized-font-family);
}

ul {
    list-style-type: none;
    overflow: hidden;
}

    ul li {
        list-style: none;
    }

li {
    float: right;
}

    li a {
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        color: var(--default-text-color)
    }

.intro-div {
    width: 100%;
    height: 100vh;
    border-style: solid;
    border-width: 0 0 7px 0;
    border-image-source: url(border.jpg);
    border-image-slice: 60 30;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.5);
}

.intro-background-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro-text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 200px;
    align-items: center;
}

.welcome-text {
    margin: -50px 0 70px 0;
    background-color: transparent;
    padding: 10px;
    width: 25vw;
    text-align: center;
    font-size: 2.0rem;
    color: var(--key-texts-color);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-image-source: url(border.jpg);
    border-image-slice: 60 30;
}

.greetings {
    color: black;
    margin: auto;
    font-size: 3.5rem;
}

.daryll {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #2E7D32;
    color: white;
}

.horizontal-separator {
    width: 80vw;
    border-style: solid;
    border-width: 1px;
    border-color: #4CAF50;
    z-index: 1;
}

.greetings-description {
    text-align: center;
    color: darkslategrey;
    padding: 0 60px 0 60px;
}

.projects-div {
    padding-top: 50px;
}

.projects-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-section-label {
    margin-top: 100px;
    font-size: 2.5rem;
    color: var(--key-texts-color);
}

.horizontal-label-separator {
    width: 20vw;
    border-style: solid;
    border-width: 2px;
    border-color: #4CAF50;
    border-radius: 5px;
}

.horizontal-label-separator, p {
    margin-top: 10px;
    color: darkslategrey;
}

.main-project-container {
    width: 73%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-tile {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: dashed;
    border-width: 1px;
    border-color: darkseagreen;
    border-radius: 5px;
    width: 280px;
    margin: 10px;
    background-color: #f7fbde;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.project-img-container {
    margin: auto;
}

.project-img {
    width: 200px;
    height: 180px;
}

.project-description {
    opacity: 0;
    height: 0px;
    overflow: hidden;
    transition: height 0.6s, opacity 0.6s ease-in-out;
    padding: 8px;
    background-color: #F8F9F9;
    border-style: solid;
    border-width: 4px 0 0 0;
    border-color: #87D37C;
}

.project-tile:hover .project-description {
    opacity: 1.0;
    height: 190px;
    overflow: hidden;
    transition: height 0.6s, opacity 0.6s ease-in-out;
}

.project-description > h3 {
    color: #2E7D32;
}

.main-contact-container {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #FFE7E7;
    margin-top: 100px;
    border-style: solid;
    border-width: 7px 0 0 0;
    border-color: black;
    border-image-source: url(border.jpg);
    border-image-slice: 60 30;
    box-shadow: 0 -4px 8px 2px rgba(0, 0, 0, 0.5);
}

.contact-info {
    margin: auto;
    width: 80vw;
}

    .contact-info h2 {
        font-size: 3.0rem;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #2E7D32;
        color: white;
    }

    .contact-info p {
        font-size: 1.4rem;
    }

.links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px auto auto auto;
    width: 100%;
    height: 10vh;
    border-style: solid;
    border-width: 1px;
}

    .links-container div a {
        text-decoration: none;
        color: black;
    }

.contact-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

    .contact-links i, h3 {
        margin: auto;
        font-size: 1.5rem;
        padding-left: 5px;
    }

.footer-main-container {
    display: flex;
    flex-direction: column;
    background-color: #F9D9B6;
    width: 100%;
    height: 63vh;
}

.footer-remarks{
    width: 40%;
    height: 45%;
    margin-top: 70px;
    margin-left: 50px;

}

.footer-remarks p{
    padding-top: 20px;
}

.in-footer-separator{
    border-style: solid;
    border-width: 1px 0 0 0;
    width: 90%;
    margin: auto;
}

.footer-end-text{
    text-align: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1920px) {
    /*INSERT CHANGES HERE*/
}